<!-- footer start -->
<footer>
    <div class="container">
        <div class="col-md-3 col-sm-6">
            <h4>Featured Job</h4>
            <ul>
                <li><a href="#">Browse Jobs</a></li>
                <li><a href="#">Jobs by Skill</a></li>
            </ul>
        </div>
        
        <div class="col-md-3 col-sm-6">
            <h4>Reach Us</h4>
            <address>
            <ul>
            <li>Internation University of Technology (IUT), Board Bazar, Gazipur-1704</li>
            <li>Email: randomjobs21@gmail.com</li>
            <li>Call: +88016085373**</li>
            </ul>
            </address>
        </div>
        
        <div class="col-md-6 col-sm-12">
            <h4>Suggestion or Problem</h4>
            <form>
                <input type="text" class="form-control input-lg" placeholder="Your Name">
                <input type="text" class="form-control input-lg" placeholder="Email...">
                <textarea class="form-control" placeholder="Message"></textarea>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>       
    </div>
    <div class="copy-right">
        <p>Copyright@2021 RandomJobs </p>
    </div>
</footer>
 
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script src="js/bootsnav.js"></script>
<script src="js/main.js"></script>
</body>
</html>