        <%- include('../partials/head.ejs') %>

        <title>Create Job | Random Jobs</title>

        <%- include('../partials/navbar.ejs') %>
                        
		
		<!-- Inner Banner -->
		<section class="inner-banner" style="backend:#242c36 url(https://via.placeholder.com/1920x600)no-repeat;">
			<div class="container">
				<div class="caption">
					<h2>Create Your Own Jobs</h2>
					<p>Hire a Job Seeker!!</p>
				</div>
			</div>
		</section>
		
		<section class="jobs">
			<div class="container">
				<div class="row heading">
					<img src="img/jobcreation.png" class="logo" alt="">
                    <section class="login-wrapper">
                        <div class="container">
                            <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
                                <form action="/jobCreation", method="Post">
                                    <input type="text" class="form-control input-lg" name="name" placeholder="Job Name" required>
                                    <input type="text" class="form-control input-lg" name="category" placeholder="Job Catagory" required>
                                    <select class="form-control input-lg"  name="jobtype" placeholder="Select" required>
                                        <option value="jobtype" >Select Job Type</option>
                                        <option value="fulltime">Full Time</option>
                                        <option value="parttime">Part Time</option>
                                        <option value="freelancing">Freelancing</option>
                                        <option value="internship">Internship</option>
                                    </select>
                                    <input type="text" class="form-control input-lg" name="jobdescription" placeholder="Job Description" required>
                                    <input type="number" class="form-control input-lg" name="payment" placeholder="Payment">
                                    <button type="createjob" class="btn btn-primary">Create Job</button>
                                </form>
                            </div>
                        </div>
                    </section>
				</div>
				<!-- <div class="row top-pad">
					<div class="filter">
						<div class="col-md-2 col-sm-3">
							<p>Search By:</p>
						</div>
						
						<div class="col-md-10 col-sm-9 pull-right">
							<ul class="filter-list">
								<li>
									<input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" checked="">
									<label for="checkbox-1" class="part-time checkbox-custom-label">Part Time</label>
								</li>
								
								<li>
									<input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox">
									<label for="checkbox-2" class="full-time checkbox-custom-label">Full Time</label>
								</li>
								
								<li>
									<input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox">
									<label for="checkbox-3" class="freelancing checkbox-custom-label">Freelancing</label>
								</li>
								
								<li>
									<input id="checkbox-4" class="checkbox-custom" name="checkbox-4" type="checkbox">
									<label for="checkbox-4" class="internship checkbox-custom-label">Internship</label>
								</li>

							</ul>	
						</div>
					</div>
				</div> -->

            </div> 
        </section>   
        <%- include('../partials/footer.ejs') %>
        
					